* {
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
}

table,
td,
tr {
  border: 1px solid black;
  border-collapse: collapse;
}

body {
  text-align: center;
}

h1 {
  padding: 1.65rem;
  text-transform: uppercase;
  background-color: #333;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
}
.contener {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem;
}
/*--- section one css ---*/
.section-1 {
  padding: 1rem;
  text-indent: 0%;
}

input,
label {
  font-size: xx-large;
  padding: 0.65rem;
}
label {
  text-transform: capitalize;
}
button {
  padding: 1rem;
  width: 550px;
  font-size: larger;
  background-color: #333;
  color: white;
  border-radius: 6px;
  text-transform: uppercase;
}

/*---section two css --*/
.center {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}
table {
  width: 550px;
}
td,
tr {
  padding: 1.65rem;
  font-size: xx-large;
  text-transform: capitalize;
}
